/* Body styling for all pages*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b3958;
    color: #333;
}
/* Header styling */
header {
    background-color: #353a3c;
    color: rgba(10, 7, 7, 0.859);
    padding: 10px 0;
    text-align: center;
}